<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

{{#if page.title}}
<title>{{page.title}} &mdash; {{site.title}}</title>
{{else}}
<title>{{site.title}}</title>
{{/if}}

<style type="text/css">
  body {
      margin: auto 2.5rem;
      font-family: ui-sans-serif, system-ui;
  }
  ul {
      list-style-type: "ðŸ‘‰ðŸ» ";
  }
  ul, ol {
      padding: 0;
      list-style-position: outside;
  }
  li, p {
    line-height: 1.5rem;
  }
  blockquote {
    margin-left: 0;
    padding-left: 1rem;
    border-left: .5rem #ccc solid;
    font-style: italic;
  }
  sup {
    position: relative;
    vertical-align: top;
    top: -0.3rem;
  }
  sup::before {
    content: "[";
  }
  sup::after {
    content: "]";
  }
  pre {
    position: relative;
    box-sizing: border-box;
    left: -0.75rem;
    width: calc(100% + 1.5rem);
    background: #eee;
    border: .75rem solid #eee;
    border-radius: 0.5rem;
  }
  p > code, li > code, h1 > code, h2 > code, h3 > code, h4 > code {
    background: #eee;
    border: .4rem solid #eee;
    border-radius: 0.5rem;
  }
  .footnote-definition-label {
    float: left;
    margin-right: .5rem;
  }
</style>
</head>

<body>
{{#unless page.is-home}}<p><a href="/" title="Go to homepage">Home</a></p>{{/unless}}
{{{page.body}}}
<hr />
<p>&copy; {{site.year}} {{site.copyright}}</p>
</body>

</html>
